.body {
    background-image: url(../img/poker/poker-background.jpg);
}

.table {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 650px;
    height: 350px;
    background-color: #013220;
    border-radius: 50%;

}

.buttons {
    position: absolute;
    top: 105%;
    left: 39%;
}

.message {
    position: absolute;
    color: white;
    top: 41%;
    left: 38%;
}

.player1 {
    position: absolute;
    color: white;
    top: -20%;
    left: 44%;
}

.player2 {
    position: absolute;
    color: white;
    top: 120%;
    left: 46%;
}