.table {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 650px;
    height: 350px;
    background-color: #013220;
    border-radius: 50%;
    border: 1px solid black;
}

.buttons {
    position: absolute;
    top: 110%;
    left: 40%;
}

.message {
    position: absolute;
    color: red;
    top: 40%;
    left: 36%;
}