<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    </head>
    <body>
		<div class="header">
			<form action="{{ url_for('get_list_chats') }}" method="get">
				<input class="logo" type="submit" value="Главная страница">
			</form>
			<div class="header-right">
				<form action="{{ url_for('get_profile') }}" method="get">
					<input type="submit" value="Профиль">
				</form>
				<form action="{{ url_for('get_logout') }}" method="get">
					<input type="submit" value="Выйти">
				</form>
			</div>
		</div>
		<h1>Новый чат</h1>
		<div>
			<input class="input-button" type="text" id="create_new_chat" placeholder="Введите название:" maxlength="20">
		</div>
		<script src="{{ url_for('static', filename='js/add_new_chat.js') }}"></script>
    </body>
</html>
