<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
		<div class="header">
			<form action="{{ url_for('get_list_chats') }}" method="get">
				<input class="logo" type="submit" value="Главная страница">
			</form>
			<div class="header-right">
				<form action="{{ url_for('get_profile') }}" method="get">
					<input type="submit" value="Профиль">
				</form>
				<form action="{{ url_for('get_logout') }}" method="get">
					<input type="submit" value="Выйти">
				</form>
			</div>
		</div>
		<h1>Новый чат</h1>
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
		<div class="input-body">
			<input class="input-body" type="text" id="create_new_chat" placeholder="Введите название:">
		</div>
		<script>
			const socket = io();
			document.getElementById("create_new_chat").addEventListener("keyup", function(event) {
				if (event.key == "Enter") {
					let message = document.getElementById("create_new_chat").value;
					socket.emit("add_new_chat", message);
					document.getElementById("create_new_chat").value = "";
				}
			})
			socket.on("add_new_chat", function(data) {
				let message = document.createElement("h1");
				message.textContent = data;
				document.body.appendChild(message);
			})
		</script>
    </body>
</html>
