<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" defer></script>
    </head>
    <body>
		<div class="header">
			<form action="{{ url_for('get_list_chats') }}" method="get">
				<input class="logo" type="submit" value="Главная">
			</form>
			<div class="header-right">
				<form action="{{ url_for('get_profile') }}" method="get">
					<input type="submit" value="Профиль">
				</form>
				<form action="{{ url_for('get_logout') }}" method="get">
					<input type="submit" value="Выйти">
				</form>
			</div>
		</div>
		<h3 id="chatname" data-name="{{ chatname }}" >Чат {{ chatname }}</h3>
		<div id="chat">
			<ul class="chat-area" id="chat_messages">
				{% for message in list_messages %}
					<div class="my_chats_links">
						<li>{{ message[0] }}: {{ message[1] }}</li>
						<form action="{{ url_for('get_delete_message') }}" method="post">
							<input class="delete_button" id="chat-button" type="submit" value="{{ message[0] }},{{ chatname }},{{ message[1] }}" name="button-delete-message">
						</form>
					</div>
				{% endfor %}
			</ul>
			<input class="input-button" type="text" id="message" placeholder="Введите сообщение:">
		</div>
		<script src="{{ url_for('static', filename='js/chat.js') }}" defer></script>
    </body>
</html>
