<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Покер</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body class="body">
        <div class="bar">
            <form action="{{ url_for('get_list_chats') }}" method="get">
                <input class="logo" type="submit" value="Главная">
            </form>
            <div class="info">
                <h2 id="login">{{ login }}</h2>
                <h2 id="game_id">{{ game_id }}</h2>
                <h2 id="group_round">{{ group_round }}</h2>
                <h2 id="player_round">{{ player_round }}</h2>
            </div>
        </div>
        <div class="area">
            <h2 class="player2">{{ player2 }}</h2>
            <div class="table">
                <h2>{{ bet2 }}</h2>
                <h2 id="mes" class="message">{{ message }}</h2>
                <h2 id="table_cards">{{ table_cards }}</h2>
                <h2>{{ bet1 }}</h2>
            </div>
            <div class="buttons">
                <button type="submit" id="fold" class="fold">Fold</button>
                <button type="submit" id="check" class="check">Check</button>
                <button type="submit" id="raise" class="raise">Raise</button>
            </div>
            <h2 class="player1">{{ player1 }}</h2>
        </div>
        <script>
            const socket = io();
            const login = $("#login").html();
            const game_id = $("#game_id").html();
            const group_round = $("#group_round").html();
            const player_round = $("#player_round").html();
            const table_cards = $("#table_cards").html();

            const fold_button = document.getElementById("fold");
            const check_button = document.getElementById("check");
            const raise_button = document.getElementById("raise");


            function off() {
                fold_button.disabled = true;
                check_button.disabled = true;
                raise_button.disabled = true;
            }


            $(document).ready(() => {
                if (game_id == 'False') {
                    off();
                }

                if (player_round == 1) {
                    off();
                }

                setInterval(() => {
                    location.reload();
                    console.log(player_round);
                }, 5000);
            });

            $(function() {
                $(".fold").click(function() {
                    off();
                    let tuple = [game_id, login, 'fold'];
                    socket.emit("get_button", tuple);
                });
            });

            $(function() {
                $(".check").click(function() {
                    off();
                    let tuple = [game_id, login, 'check'];
                    socket.emit("get_button", tuple);
                });
            });

<!--            socket.on("buttons", function(data) {-->
<!--                group_round.html(data);-->
<!--            })-->

<!--            $(function() {-->
<!--                $(".raise").click(function() {-->
<!--                    off();-->
<!--                    let tuple = [game_id, login, 'raise'];-->
<!--                    socket.emit("get_button", tuple);-->
<!--                });-->
<!--            });-->


<!--            $(".logo").click(function() {-->
<!--                let answer = confirm("Вы действительно хотите покинуть игру?");-->
<!--                if (answer) {-->
<!--                    $(this).closest("form").submit();-->
<!--                } else {-->
<!--                    event.preventDefault();-->
<!--                }-->
<!--            });-->

<!--            $(document).ready(() => {-->
<!--                const tag = $("#mes");-->
<!--                setInterval(() => {-->
<!--                    const content = tag.html();-->
<!--                    if (content === "Ожидайте игру") {-->
<!--                        location.reload();-->
<!--                    }-->
<!--                }, 3000);-->
<!--            });-->

<!--            $(document).ready(() => {-->
<!--                setTimeout(() => {-->
<!--                    const tag = $("#mes");-->
<!--                    tag.html("");-->
<!--                }, 4000);-->
<!--            });-->
        </script>
    </body>
</html>