<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Домашняя страница</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <form action="{{ url_for('get_home') }}" method="get">
                <input class="logo" type="submit" value="Главная страница">
            </form>
            <form action="{{ url_for('get_login') }}" method="get">
                <input type="submit" value="Выйти">
            </form>
        </div>
        <h1>Чат</h1>
        <div id="messages"></div>
        <form class="login-form" action="" method="post">
            <input type="text" name="message" placeholder="Введите сообщение:">
            <input type="submit" value="Отправить">
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script>
            const socket = io();
            socket.on("message", (data) => {
                const message = JSON.parse(data);
                const element = document.createElement("div");
                element.textContent = `${message.user}: ${message.text}`;
                document.getElementById("messages").appendChild(element);
             });

            const form = document.querySelector("form");
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                const message = event.target.elements.message.value;
                socket.emit("message", {
                    user: "User 1",
                    text: message,
                });
            });
        </script>
    </body>
</html>