<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Список чатов</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
		<a id="chat_link" href="{{ url_for('get_chat') }}"></a>
	</head>
	<body>
		<div class="header">
			<form action="{{ url_for('get_list_chats') }}" method="get">
				<input class="logo" type="submit" value="Главная страница">
			</form>
			<div class="header-right">
				<form action="{{ url_for('get_profile') }}" method="get">
					<input type="submit" value="Профиль">
				</form>
				<form action="{{ url_for('get_logout') }}" method="get">
					<input type="submit" value="Выйти">
				</form>
			</div>
		</div>
		<div class="list-chats-body-area">
			<div id="find_chat">
				<input class="input-button" type="text" id="find" placeholder="Найти чат:">
				<ul class="find-chat-area" id="list_find_chat"></ul>
			</div>
			<div>
				<form action="{{ url_for('get_add_new_chat') }}" method="get">
				<input type="submit" value="Новый чат">
			</div>
        </form>
		</div>
		<div class="my_chats">
			<h3>Мои чаты</h3>
			<ul class="list-my-chats-area" id="list_my_chats">
				{% for chatname in list_chats %}
					<div class="my_chats_links">
						<li><a href="{{ url_for('get_chat') }}?open_chat={{ chatname }}">{{ chatname }}</a></li>
						<form action="{{ url_for('get_delete_chat') }}" method="post">
							<input class="delete_button" type="submit" value="{{ chatname }}" name="button-delete-chat">
						</form>
					</div>
				{% endfor %}
			</ul>
		</div>
		<script src="{{ url_for('static', filename='js/list_chats.js') }}"></script>
	</body>
</html>