<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Список чатов</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="header">
			<form action="{{ url_for('get_list_chats') }}" method="get">
				<input class="logo" type="submit" value="Главная страница">
			</form>
			<div class="header-right">
				<form action="{{ url_for('get_profile') }}" method="get">
					<input type="submit" value="Профиль">
				</form>
				<form action="{{ url_for('get_logout') }}" method="get">
					<input type="submit" value="Выйти">
				</form>
			</div>
		</div>
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
		<style>
			#body-area {
				display: flex;
				align-items: center;
			}

			#list_find_chat {
				height: 50px;
				width: 300px;
				overflow-y: scroll;
			}

			#list_my_chats {
				height: 200px;
				width: 300px;
				overflow-y: scroll;
			}

			li {
				height: min-content;
				width: min-content;
				list-style: none;
				background-color: grey;
			}

			li:hover {
				cursor: pointer;
			}

			#find {
				width: 300px;
			}

		</style>
		<div id="body-area">
			<div id="find_chat">
				<h1>Список найденных чатов</h1>
				<input type="text" id="find" placeholder="Найти чат:">
				<ul id="list_find_chat"></ul>
			</div>
			<div id="new_chat">
				<form action="{{ url_for('get_add_new_chat') }}" method="get">
					<input type="submit" value="Создать чат">
				</form>
			</div>
		</div>
		<h1>Мои чаты</h1>
		<a id="chat_link" href="{{ url_for('get_chat') }}"></a>
		<div id="my_chats">
			<ul id="list_my_chats">
				{% for chat_name in list_chats %}
					<li><a href="{{ url_for('get_chat') }}?open_chat={{ chat_name }}">{{ chat_name }}</a></li><br>
				{% endfor %}
			</ul>
		</div>
		<script>
			const socket = io();
			document.getElementById("find").addEventListener("keyup", function(event) {
				if (event.key == "Enter") {
					let data = document.getElementById("find").value;
					socket.emit("new_find_chat", data);
					document.getElementById("find").value = "";
				}
			})
			socket.on("list_find_chats", function(data) {
				let ul = document.getElementById("list_find_chat");
				let li = document.createElement("li");
				li.addEventListener("click", function(event) {
					if (event) {
						console.log(data)
						chat_link = document.getElementById("chat_link");
						console.log(chat_link + "?open_chat=" + data)
						window.location.href = chat_link + "?open_chat=" + data;
					}
				});
				li.appendChild(document.createTextNode(data));
				ul.appendChild(li);
			})
		</script>

	</body>
</html>