<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Список чатов</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" async></script>
	</head>
	<body>
		<div class="header">
			<form action="{{ url_for('get_list_chats') }}" method="get">
				<input class="logo" type="submit" value="Главная страница">
			</form>
			<div class="header-right">
				<form action="{{ url_for('get_profile') }}" method="get">
					<input type="submit" value="Профиль">
				</form>
				<form action="{{ url_for('get_logout') }}" method="get">
					<input type="submit" value="Выйти">
				</form>
			</div>
		</div>
		<style>
			li {
				height: min-content;
				width: min-content;
				list-style: none;
				background-color: grey;
			}

			li:hover {
				cursor: pointer;
			}

			a {
				color: black;
				text-decoration: none;
			}

			a:visited {
				color: transparent;
			}

		</style>
		<div class="body-area">
			<div id="find_chat">
				<h1>Список найденных чатов</h1>
				<input class="input-body" type="text" id="find" placeholder="Найти чат:">
				<ul class="find-chat-input" id="list_find_chat"></ul>
			</div>
			<div id="new_chat">
				<form action="{{ url_for('get_add_new_chat') }}" method="get">
					<input type="submit" value="Новый чат">
				</form>
			</div>
		</div>
		<h1>Мои чаты</h1>
		<a id="chat_link" href="{{ url_for('get_chat') }}"></a>
		<div id="my_chats">
			<ul class="list-chats" id="list_my_chats">
				{% for chat_name in list_chats %}
					<li><a href="{{ url_for('get_chat') }}?open_chat={{ chat_name }}">{{ chat_name }}</a></li><br>
				{% endfor %}
			</ul>
		</div>
		<script src="{{ url_for('static', filename='js/list_chats.js') }}" async></script>
	</body>
</html>